name: CI

on:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
      - run: npm ci
      - run: npm test